<%= content_for :title, 'Home Page' %>
<h1>Aura Creative</h1>
<h3>COWORKING &AMP; EVENT SPACE</h3>

<%= image_tag 'elephant.jpg', alt: 'This is a picture of the Elephant', title: 'This is an elephant title', class: 'img-thumbnail img-circle' %><br><br>

<% if user_signed_in? %>
	<% if current_user.profile %>
		<p>Welcome <%= current_user.profile.name %></p>
	<% else %>
		<%= link_to "Create your profile", new_profile_path, class: 'btn btn-success' %>
	<% end %>
<% end %>


<h1>Upcoming events</h1>
<div class="row">
	<div class="col-md-4">
		<% @events.each do |event| %>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title"><%= link_to event.name, event_path(event) %></h3>
				</div>
				<div class="panel-body">
					<p><% event.description %></p>
					<p><strong>Location: </strong><%= event.location %></p>
					<p><strong>Starts: </strong><%= event.starts.strftime('%l:%m%P %d %b %Y')%></p>
				</div>
			</div>
		<% end %>
	</div>
</div>

<strong>Upcoming events</strong>
<ul>
  <% @events.each do |event| %>
    <li><%= link_to event.name, event_path(event) %></li>
  <% end %>
</ul>